@page "/EditIceCream/{CurrentID}"
@using IceCreamBlazorProd.Data
@inject IceCreamService iceService;
@inject NavigationManager navManager

<h2>Update Ice cream</h2>
<hr />

<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="EmployeeId" class="custom-control-label">Employee id</label>
                <input for="EmployeeId" class="form-control" @bind="@ice.IceCreamId" disabled="disabled" />
            </div>
            <div class="form-group">
                <label for="Name" class="custom-control-label">Name</label>
                <input form="Name" class="form-control" @bind="@ice.Name" />
            </div>

            <div class="form-group">
                <label for="Price" class="custom-control-label">Price</label>
                <input form="Price" class="form-control" @bind="@ice.Price" />
            </div>


            <div class="form-group">
                <label for="Amount" class="custom-control-label">Amount</label>
                <input form="Amount" class="form-control" @bind="@ice.Amount" />
            </div>


            <div class="form-group">
                <label for="Description" class="custom-control-label">Description</label>
                <input form="Description" class="form-control" @bind="@ice.Description" />
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@UpdateIceCream" value="Update" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>


@code {

    [Parameter]
    public string CurrentID { get; set; }

    IceCreamBlazorProd.Data.IceCream ice = new IceCreamBlazorProd.Data.IceCream();

    protected override async Task OnInitializedAsync()
    {
        ice = await Task.Run(() => iceService.GetById(Convert.ToInt32(CurrentID)));
    }


    protected void UpdateIceCream()
    {
        iceService.Update(ice);
        navManager.NavigateTo("iceCreams");
    }
    void Cancel()
    {
        navManager.NavigateTo("iceCreams");
    }

}
